{% extends "base.html" %}

{% block title %}CloudNotes{% endblock %}

{% block content %}
<div class="container">
    <p class="lead" align="center">This is the home page</p>
    </br>
    <div class="row gap-4">
        <p>Welcome to CloudNotes.</p>
    </div>

    <div class="row gap-4">
        <img src="{{ url_for('static', filename='mandelbrot_placeholder.png')}}" class="img-fluid" alt="...">
        </br>
    </div>

    <div class="row gap-4">
        <div class="col-md">
            <div class="d-grid">
                <a class="btn btn-primary" href="{{ url_for('views.download_file') }}">Download Image</a>
            </div>
        </div>
        <div class="col-md">
            <div class="d-grid">
                <a class="btn btn-info" href="{{ url_for('views.download_source') }}">Download its Source Code</a>
            </div>
        </div>
    </div>

    <div class="row gap-4">
        <div class="col-md">
            <p class="text-center">
                For more information about the Mandelbrot Set, visit the <a href="https://en.wikipedia.org/wiki/Mandelbrot_set" target="_blank">Wikipedia page</a>.
            </p>
        </div>
        <div class="col-md">
            <p class="text-center">
                Interested in the source code of this website? Check out the <a href="https://github.com/janiejestemja/cloud_notes" target="_blank">GitHub repository</a>.
            </p>
        </div>
    </div>

</div>
{% endblock %}
